groups:
- name: rules.yml
  rules:

## PlatformCluster

  ## CPU METRICS

  #  Calculates aggregate 5m rate of CPU usage for a DaemonSet across all
  #  machines.
  - record: daemonset:container_cpu_usage_seconds:sum_rate5m
    expr: |
      sum by (daemonset) (
        label_replace(
          rate (container_cpu_usage_seconds_total{
            container_label_io_kubernetes_container_name != "POD",
            container_label_io_kubernetes_container_name != "",
            machine=~"mlab[1-4].*",
            image != ""}
          [5m]),
          "daemonset", "$1", "container_label_io_kubernetes_pod_name", "^(.*)-[a-z0-9]+$"
        )
      )

  #  Calculates aggregate 5m rate of CPU usage for a DaemonSet across all
  #  machines as a ratio of all CPU cores on all machines.
  - record: daemonset:container_cpu_usage_seconds:ratio
    expr: |
      daemonset:container_cpu_usage_seconds:sum_rate5m
      / scalar(sum(machine_cpu_cores))

  # Calculates aggregate DaemonSet CPU usage on a machine.
  - record: machine_daemonset:container_cpu_usage_seconds:sum_rate5m
    expr: |
      sum by (machine, daemonset) (
        label_replace(
          rate (container_cpu_usage_seconds_total{
            container_label_io_kubernetes_container_name != "POD",
            container_label_io_kubernetes_container_name != "",
            machine=~"mlab[1-4].*",
            image != ""}
          [5m]),
          "daemonset", "$1", "container_label_io_kubernetes_pod_name", "^(.*)-[a-z0-9]+$"
        )
      )

  # Calculates aggregate DaemonSet CPU usage on a node as a ratio of all CPU
  # cores on that machine.
  - record: machine_daemonset:container_cpu_usage_seconds:ratio
    expr: |
      sum by (machine, daemonset) (
        label_replace(
          rate (container_cpu_usage_seconds_total{
            container_label_io_kubernetes_container_name != "POD",
            container_label_io_kubernetes_container_name != "",
            machine=~"mlab[1-4].*",
            image != ""}
          [5m]),
          "daemonset", "$1", "container_label_io_kubernetes_pod_name", "^(.*)-[a-z0-9]+$"
        )
      ) / on(machine) group_left machine_cpu_cores


  ## MEMORY METRICS

  #  Calculates aggregate DaemonSet memory usage across all machines.
  - record: daemonset:container_memory_working_set_bytes:sum
    expr: |
      sum by (daemonset) (
        label_replace(
          container_memory_working_set_bytes{
            container_label_io_kubernetes_container_name != "POD",
            container_label_io_kubernetes_container_name != "",
            machine=~"mlab[1-4].*",
            image != ""
          },
          "daemonset", "$1", "container_label_io_kubernetes_pod_name", "^(.*)-[a-z0-9]+$"
        )
      )

  #  Calculates aggregate DaemonSet memory usage across all machines as a ratio of
  #  all memory on all machines.
  - record: daemonset:container_memory_working_set_bytes:ratio
    expr: |
      daemonset:container_memory_working_set_bytes:sum
      / scalar(sum(machine_memory_bytes))

  # Calculates aggregate DaemonSet memory usage on a machine.
  - record: machine_daemonset:container_memory_working_set_bytes:sum
    expr: |
      sum by (machine, daemonset) (
        label_replace(
          container_memory_working_set_bytes{
            container_label_io_kubernetes_container_name != "POD",
            container_label_io_kubernetes_container_name != "",
            machine=~"mlab[1-4].*",
            image != ""
          },
          "daemonset", "$1", "container_label_io_kubernetes_pod_name", "^(.*)-[a-z0-9]+$"
        )
      )

  # Calculates aggregate DaemonSet memory usage on a machine as a ratio of all
  # memory on that machine.
  - record: machine_daemonset:container_memory_working_set_bytes:ratio
    expr: |
      sum by (machine, daemonset) (
        label_replace(
          container_memory_working_set_bytes{
            container_label_io_kubernetes_container_name != "POD",
            container_label_io_kubernetes_container_name != "",
            machine=~"mlab[1-4].*",
            image != ""
          },
          "daemonset", "$1", "container_label_io_kubernetes_pod_name", "^(.*)-[a-z0-9]+$"
        ) / on(machine) group_left machine_memory_bytes
      )

