groups:
- name: rules.yml
  rules:

## PlatformCluster
#
# Optimize aggregation of container CPU and memory utilization by containter_name.
  - record: container_name:container_cpu_usage_seconds_total:sum_rate5m
    expr: |
      sum by (container_label_io_kubernetes_container_name) (
        rate (container_cpu_usage_seconds_total{
          container_label_io_kubernetes_container_name != "POD",
          container_label_io_kubernetes_container_name != "", 
          image != ""} 
        [5m])
      )   
  - record: container_name:container_memory_working_set_bytes:sum_rate5m
    expr: |
      sum by (container_label_io_kubernetes_container_name) (
        rate (container_memory_working_set_bytes{
          container_label_io_kubernetes_container_name != "POD",
          container_label_io_kubernetes_container_name != "", 
          image != ""} 
        [5m])
      )   

