#cloud-config

packages:
- containerd
- ebtables
- iptables
- socat
- vim
package_update: true
package_upgrade: true

write_files:
- path: /etc/ssh/sshd_config
  permissions: 0600
  owner: root:root
  content: |
    Subsystem sftp internal-sftp
    ClientAliveInterval 180
    UseDNS no
    UsePAM yes
    PrintLastLog no # handled by PAM
    PrintMotd no # handled by PAM
    PasswordAuthentication no
    ChallengeResponseAuthentication no
    PermitRootLogin no

- path: /etc/modules
  permissions: 0644
  owner: root:root
  content: |
    overlay
    br_netfilter

# The odd number of 999 because GCE nodes already have a file named
# 99-gce.conf, which, among other things, disables ip forwarding.
- path: /etc/sysctl.d/999-containerd.conf
  permissions: 0644
  owner: root:root
  content: |
    net.ipv4.ip_forward                 = 1
    net.bridge.bridge-nf-call-iptables  = 1
    net.bridge.bridge-nf-call-ip6tables = 1

# Load the TCP BBR kernel module.
- path: /etc/modules-load.d/tcp_bbr.conf
  permissions: 0644
  owner: root:root
  content: tcp_bbr

runcmd:
- sysctl --system
- systemctl restart systemd-modules-load.service
- systemctl enable containerd
- systemctl start containerd
- tc qdisc replace dev ens4 root fq maxrate 10gbit
