#cloud-config

write_files:

- path: /etc/systemd/system/token-server.service
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Description=token-server
    After=docker.service
    Requires=docker.service

    # Run the k8s-token-server (supporting the ePoxy Extension API), such that:
    #
    #   1) the host root (/) is mounted read-only in the container as /ro
    #   2) the host etc (/etc) is mounted read-only as the container's /etc
    #
    # The first gives access the kubeadm command.
    # The second gives kubeadm read access to /etc/kubernetes/admin.conf.
    [Service]
    TimeoutStartSec=120
    Restart=always
    ExecStartPre=-/usr/bin/docker stop %N
    ExecStartPre=-/usr/bin/docker rm %N
    ExecStart=/usr/bin/docker run --publish 8800:8800 \
                                  --volume /etc:/etc:ro \
                                  --volume /:/ro:ro \
                                  --name %N -- \
                                  measurementlab/k8s-token-server:v2.9.0 \
                                  -command /ro/opt/bin/kubeadm
    ExecStop=/usr/bin/docker stop %N

    [Install]
    WantedBy=multi-user.target

- path: /etc/systemd/system/gcp-loadbalancer-proxy.service
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Description=gcp-loadbalancer-proxy
    After=docker.service
    Requires=docker.service

    [Service]
    TimeoutStartSec=120
    Restart=always
    ExecStartPre=-/usr/bin/docker stop %N
    ExecStartPre=-/usr/bin/docker rm %N
    ExecStart=/usr/bin/docker run --publish 8080:8080 \
                                  --network host \
                                  --name %N -- \
                                  measurementlab/gcp-loadbalancer-proxy:v1.0 \
                                  -url https://localhost:6443
    ExecStop=/usr/bin/docker stop %N

    [Install]
    WantedBy=multi-user.target

- path: /etc/systemd/system/reboot-node.service
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Description=reboot-node.service

    [Service]
    Type=oneshot
    ExecStart=/opt/bin/reboot-node

- path: /etc/systemd/system/reboot-node.timer
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Description=Run reboot-node.service daily

    [Timer]
    OnCalendar=Mon..Fri 15:00:00

    [Install]
    WantedBy=multi-user.target

- path: /etc/ssh/sshd_config
  permissions: 0600
  owner: root:root
  content: |
    UsePrivilegeSeparation sandbox
    Subsystem sftp internal-sftp
    ClientAliveInterval 180
    UseDNS no
    UsePAM yes
    PrintLastLog no # handled by PAM
    PrintMotd no # handled by PAM
    PasswordAuthentication no
    ChallengeResponseAuthentication no
    PermitRootLogin no

# We have run up against "no space left on device" errors, when clearly
# there is plenty of free disk space. It seems this could likely be related
# to this:
# https://github.com/kubernetes/kubernetes/issues/7815#issuecomment-124566117
# To be sure we don't hit the limit of fs.inotify.max_user_watches, increase
# it from the default of 8192.
- path: /etc/sysctl.d/fs_inotify.conf
  permissions: 0644
  owner: root:root
  content: |
    fs.inotify.max_user_watches=131072

# The smallest of scripts to reboot the machine.
- path: /var/lib/mlab/bin/reboot-node
  permissions: 0744
  owner: root:root
  content: |
    #!/bin/bash
    REBOOT_DAY=$(cat /var/lib/mlab/etc/reboot-node-day)
    TODAY=$(date +%a)
    source /root/.bashrc
    # Members are listed whether they are healthy or not.
    ETCD_ENDPOINTS=$(/usr/bin/etcdctl member list | awk '{print $5}' | paste -s -d, -)
    # Currently healthy endpoints are reported on stderr, along with true
    # errors: https://github.com/etcd-io/etcd/pull/11322
    ETCD_HEALTHY_COUNT=$(/usr/bin/etcdctl endpoint health --endpoints "${ETCD_ENDPOINTS}" 2>&1 \
        | grep -P '(?<!un)healthy' | wc -l)
    if [[ "${REBOOT_DAY}" != "${TODAY}" ]]; then
      echo "Reboot day ${REBOOT_DAY} doesn't equal today: ${TODAY}. Not rebooting."
      exit 0
    fi
    if [[ "${ETCD_HEALTHY_COUNT}" -lt "3" ]]; then
      echo "There are less than 3 healthy etcd cluster members. Not rebooting."
      exit 1
    fi
    echo "Reboot day ${REBOOT_DAY} equals today: ${TODAY}. Rebooting node."
    /sbin/reboot

- path: /etc/docker/daemon.json
  permissions: 0644
  owner: root:root
  content: |
    {
      "exec-opts": [
        "native.cgroupdriver=systemd"
      ],
      "log-driver": "json-file",
      "log-opts": {
        "max-size": "100m"
      },
      "storage-driver": "overlay2"
    }

packages:
- docker.io
- socat
- vim
package_update: true
package_upgrade: true

runcmd:
- systemctl daemon-reload
- systemctl enable docker
- systemctl start docker
- systemctl start token-server.service
- systemctl start gcp-loadbalancer-proxy.service
- systemctl enable reboot-node.service
