# The new CRD type used by Multus.
#
# This file must be applied first.  Kubernetes does not support defining new
# data types and new resources of that type at the same time.
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
    name: network-attachment-definitions.k8s.cni.cncf.io
spec:
    group: k8s.cni.cncf.io
    version: v1
    scope: Namespaced
    names:
        plural: network-attachment-definitions
        singular: network-attachment-definition
        kind: NetworkAttachmentDefinition
        shortNames:
            - net-attach-def
            - net
    validation:
        openAPIV3Schema:
            properties:
                spec:
                    properties:
                        config:
                            type: string

# The CRD objects.
---
# The default flannel configuration that gets applied to non-experiment pods.
# The important bit here is that isDefaultGateway=true.
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: flannel-conf
spec:
  config: '{
    "cniVersion": "0.3.0",
    "type": "flannel",
    "delegate": {
       "hairpinMode": true,
       "isDefaultGateway": true
    }
  }'
---
# The flannel configuration that gets applied to experiment pods. Only pods
# with the following annotation will use this configuration:
# `v1.multus-cni.io/default-network: flannel-experiment-conf`
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: flannel-experiment-conf
spec:
  config: '{
    "cniVersion": "0.3.0",
    "type": "flannel",
    "delegate": {
       "hairpinMode": true,
       "isDefaultGateway": false
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-1-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-1",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 1
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-2-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-2",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 2
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-4-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-4",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 4
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-5-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-5",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 5
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-6-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-6,
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 6
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-7-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-7",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 7
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-8-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-8",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 8
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-9-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-9",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 9
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-10-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-10",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 10
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-11-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-11",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 11
    }
  }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
 name: index2ip-index-12-conf
spec:
  config: '{
    "cniVersion": "0.2.0",
    "name": "ipvlan-index-12",
    "type": "ipvlan",
    "master": "eth0",
    "mode": "l3s",
    "ipam": {
      "type": "index2ip",
      "index": 12
    }
  }'
